
@{
    ViewBag.Title = "Authorize";
}

<h2>Authorize</h2>

<form method="post">

    Allow something ......

    <div>
        <button type="submit" class="btn btn-success" name="button" value="allow">Allow</button>
        <button type="submit" class="btn btn-danger"  name="button" value="deny">Deny</button>
    </div>
</form>